.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.firstcolumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: lightgray;
  padding: 20px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.button:hover {
  background-color: #ddd;
}

.options-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
}

.button:hover .options-list {
  display: block;
}

.options-list li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.options-list li:hover {
  background-color: #ddd;
}

h2 {
  margin-top: 80px;
  margin-bottom: 40px;
}
.user-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-top: 30pxpx;
  width: 300px;
  height: 50%;
  margin-top: 10%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.png {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  overflow: hidden;
  border-radius: 50%;
}

.png img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  text-align: center;
}

.buttons {
  margin-top: 10px;
  background-color: grey;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.buttons:hover {
  background-color: lightgray;
}
.sides {
  display: flex;
  justify-content: space-between;
}
.text {
  text-align: center;
}
