.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px; /* Space between items */
  padding: 20px; 
  align-items: stretch; /* Ensures all items stretch to the same height */
}

.item {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin-right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden; /* Ensures nothing spills out */
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  height: 160px; /* Fixed height for all images */
  object-fit: cover; 
  border-radius: 8px 8px 0 0;
}


.item-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0; 
}

.item p {
  color: #666;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .items-container {
      grid-template-columns: repeat(2, 1fr); /* Two items per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .items-container {
      grid-template-columns: 1fr; /* One item per row on very small screens */
  }
}
