.firstslide {
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgs {
  display: flex;
}
.imgs img {
  width: 20%;
}

.firstText {
  padding: 50px;
}
.house p {
  color: rgb(11, 11, 63);
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.house span {
  color: white;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}
.title span {
  font-weight: 100;
  font-size: 20px;
}

.title:hover::after {
  width: 35%;
}
.title::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(11, 11, 63);
  display: block;
  margin: auto;
  transition: 0.7s;
}
h2:hover::after {
  width: 100%;
}
h2::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(11, 11, 63);
  display: block;
  margin: auto;
  transition: 0.7s;
}

.whole-1 {
  display: flex;
  background-color: rgba(223, 223, 223, 0.916);
  margin-top: 70px;
}

.whole-1 .items-1 p {
  width: 100%;
  opacity: 0.7;
}
.whole-1 .items-1 h2 {
  padding: 20px 0px;
}
.whole-1 .items-1 {
  padding: 30px 50px;
}
.container .paragraph {
  opacity: 0.7;
}
.container img {
  width: 90%;
}
.container a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: lightblue;
}
.whole {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto;
}
.whole .container {
  margin-left: 50px;
}
.whole-1 .img1 {
  width: 40%;
}
.whole .container .jpg img {
  border-radius: 15px 15px;
}
.whole .container .jpg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  transition: 0.5s ease;
}

.whole .container .jpg:hover {
  transform: scale(1.2);
}
.whole .container .jpg a p {
  padding-top: 20px;
  font-weight: 900;
  font-size: 20px;
  color: black;
}
.whole .container .jpg a p span {
  font-weight: 500;
  font-size: 15px;
  color: black;
  opacity: 0.7;
}
.whole .container .jpg a p .fa {
  padding-left: 5px;
  font-size: 15px;
}
.whole .container .jpg a p .fa:hover {
  color: gray;
}

@media (max-width: 800px) {
  .firstslide {
    height: 50vh;

    .whole-1 .items-1 {
      padding: 20px;
      margin: 0;
    }
  }
}
